body {
    font-family: Arial, sans-serif;
    background-color: #d17777;
    margin: 0;
    padding: 0;
}
 
.container {
    width: 400px;
    margin: 50px auto;
    background: rgb(124, 124, 126);
    padding: 20px;
    box-shadow: 0 0 10px rgba(131, 127, 127, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}
